html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#26385a, #335377);
    /*background: linear-gradient(#141e30, #243b55);*/
}

.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.barra-lateralF {
    background-color: #333;
    width: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


header {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

input,
textarea,button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}


button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    /*
    margin: 0 auto; 
    display: block; */
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 900px;
    padding:60px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;

}

header h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

section h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
}

section input {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}


section input:focus~h2,
section input:valid~h2 {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
textarea{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 25px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}